{% extends "navbar.html" %}

{% block content %}
<div class="col-md-offset-2 col-md-6 col-xs-10">
    <h1 style="color: #2f90a1; margin-bottom: 1em"> Download Windows app </h1>
    <h3 class="hTwos"> If you want to be able to transpose your chord offline, you can download my transposing app
    by clicking DOWNLOAD button below.</h3>
    <h4 class="hTwos">
        <br>
        Your OS could be saying it is dangerous to open downloaded file. <br>
        Don't worry, this app is totally virus-free and won't hurt your computer.
        Do not try to download this app on mobile devices, it will only work on Windows (and some Linux) desktop computers!
        <br>
        <br>
        There is a catch though, app is in Croatian, but if you show interest, I will do my best to make English version. :)
    </h4>
</div>
<div class="row">
<div class="col-md-offset-2 col-md-5 col-xs-5">
    <a href="static/download/transposeMe.exe" download><button type="submit" class="btn btn-info btn-lg">DOWNLOAD</button></a>
</div>
</div>
{% endblock %}