{% extends "top-logo.html" %}

{% block body %}
<div class="row">
    <div class="col-md-7 col-md-offset-2">
        <nav class="navbar navbar-default">
            <div class=" container-fluid col-md-offset-2">
                <div class="collapse navbar-collapse" id="mainNavBar">
                    <ul class="nav navbar-nav">
                        <li id="mi1"><a href="/">HOME</a></li>
                        <li id="mi2"><a href="/info">INFO</a></li>
                        <li id="mi3"><a href="/download">DOWNLOAD</a></li>
                        <li id="mi4"><a href="/report">Report error or suggestion</a></li>
                    </ul>
                </div>

            </div>
        </nav>
    </div>
</div>

{% block content %}
{% endblock %}

{% endblock %}