{% extends "navbar.html" %}

{% block content %}

{% from "_formhelpers.html" import render_field %}

<form method=post action="/report" style="margin: 0; padding: 0;">
    <dl>
        {{ form.csrf_token }}
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 form-group">
                <h3 style="color: #2f90a1; margin: 0; padding: 0;">Your mail:</h3>
                    {{render_field(form.yourMail, style="color: black")}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-12 form-group">
                <h3 style="color: #2f90a1; margin: 0; padding: 0;">Paste lyrics you found error in here:</h3>
                    {{render_field(form.buggedContent, class="col-md-8 col-sm-10 col-xs-12", rows="10", style="color: black; resize: none; white-space: pre; overflow-wrap: normal; overflow-x: scroll; overflow-y: scroll")}}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 col-xs-10 form-group">
                <h3 style="color: #2f90a1; margin: 0; padding: 0;">You can describe issue here:</h3>
                    {{render_field(form.description, class="col-md-6 col-xs-8", rows="8", style="color: black")}}
            </div>
        </div>
    </dl>

    <div class="row col-md-offset-2">
        <p><input  class="btn btn-info btn-lg" type=submit value="Click to send!"></p>
    </div>
</form>

{% endblock %}